body {
	margin: 0px;
	width: 100%;
	height: 100%;
}

.d_f {
	display: flex;
}

.jc_c {
	justify-content: center;
}

/* margin */
.mt_20 {
	margin-top: 20px;
}

.ml_9 {
	margin-left: 9px;
}

/* text-align */
.ta_c {
	text-align: center;
}

/* font-size */
.fz_80 {
	font-size: 80px;
}

/* background-color */
.bgc_skyblue {
	background-color: skyblue;
}
